:root {
  --primary-color: #7D5C67;
  --secondary-color: #BEADB3;
  --logo-bg-color: white;
  --text-color: black;
  --hover-color: #C35B79;
  --hover-color-2: #77BC48;
  --social-icon-size: 30px;
  --footer-height: 254px;
  --footer-border-radius: 100% 60%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}